= form_with url: fetch_image_dogs_path, method: :get, id: 'dog-form', data: { controller: "refresh-frame", action: "turbo:submit-end->refresh-frame#refresh" } do |f|
  = render Forms::TextFieldComponent.new(form: f, field: :breed, label: label_text, autofocus: true, required: true, name: 'dog[breed]')
  = render Forms::SubmitComponent.new(form: f)
